@import url(/css/style.css);
@import url(/css/style-no-fw.css);
/* colors */
:root{
    --blue900:#1c39bb;
    --blue800:rgba(28, 57, 187, 0.8);
    --gray900:#595b61;
    --dark:#2a2a2e;
}

.text-gray900{
    color: var(--gray900);
}
.text-blue900 {
    color: var(--blue900);
}
.bg-blu900{
    background-color: var(--blue900);
}

/* global */

html {
    max-width: 360px;
    margin-inline: auto;
}
/* mobile */
.mobile-maxw {
    max-width: 768px;
}